h1{
    text-align: center;
}


.btn-center{
    text-align: center;
}

.btn-center button{
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    color: white;
}
.btn-inc{
    background-color: green;
}

.btn-dec{
    background-color: red;
}

.btn-res{
    background-color: gray;
}