.productInfo{
    text-align: left;
}
.productInfo h4{
    color: orange;
}

.productInfo .discount{
    color: orange;
    background-color: rgb(252, 233, 197);
    width: 30px;
    height: 24px;
    border-radius: 5px;
    text-align: center;
    display: inline;
    
}
.productInfo .price{
    width: 50px;
    display: inline;
    margin-right: 20px;
    font-size: 30px;
}
.productInfo .oldPrice{
    text-decoration: line-through;
    color: rgb(216, 216, 216);
}